body {
    background-color: #091521;
    color: #eee;
    margin: 0;
    background-image: url(/img/indexBackground.jpg);
    background-repeat: none;
    
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 1em 3em;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
    transition: .5s;
}